#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.getNumbersBtn {
  display: block;
  margin-top: 40px;
  margin-left: 200px;
}

.some-title {
  margin-bottom: 30px;
  font-size: medium;
}

.LottoApp {
  text-align: center;
  margin-top: 30px;
}
