#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.getNumbersBtn {
  display: block;
  cursor: pointer;
  margin: auto;
}
.getNumbersBtn:hover {
  background-color: #0f4eec;
  color: #fff;
  box-shadow: 2px 2px 2px 1px rgb(82, 116, 227);
}

.some-title {
  margin-bottom: 30px;
  font-size: large;
}

.LottoApp {
  text-align: center;
  margin-top: 30px;
}
